# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution
build/
dist/
*.egg-info/

# VS Code
.vscode/settings.json

# Logs
*.log

# Environment variables
.env

# OS
Thumbs.db
.DS_Store